*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
    color: #eee;
    background-color: #111;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.me-hide{
    display: none !important;
}

.game-winner{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5em;
}

.game-winner button{
    color: white;
    border-radius: 20px;
    padding: 0.5em;
    font-size: .2em;
    border-color: whitesmoke;
}

.game-winner button:hover{
    color: magenta;
    border-color: magenta;
}

.game {
    display: grid;
    grid-template-columns: 3fr 2fr;
    place-content: center;
    height: 100vh;
}

main, aside{
    text-align: center;
}

td {
    border: 1.5px solid #eee;
}

img{
    height: 10em;
    width: 12em;
}

button{
    margin: 2em;
    background-color: black;
    border: solid 3px transparent;
}

button:hover {
    border-color: red;
}

.playerSelection{
    border-color: red;
}

.computerSelection{
    border-color: blue;
}

.tieSelection{
    border-top-color: red;
    border-bottom-color: red;
    border-left-color: blue;
    border-right-color: blue; 
}